<!DOCTYPE HTML>
<html>
<head>
    <title>Web Page Analyzing Tool</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>Web Page Analyzing Tool</h2>
    <h4 class="alert alert-danger">Web service currently not available Error 500, Please check the whether the service is up and running.
      </h4>
</div>
</div>
</body>
</html>
